/** font family for inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/** font family for Noto serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/** common css starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;

}

.noto-serif-fonts {
  font-family: "Noto Serif", serif;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

.body-color {
  background-color: rgb(245, 248, 255);
}

.font-basic {
  font-size: 16px;
  font-weight: 400;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}

.card-text-color {
  color: rgb(17, 17, 17);
  font-size: 22px;
}

.button-primary {
  background-color: rgb(233, 90, 8);
  padding: 26px 50px 26px 50px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: center;
  cursor: pointer;
}

/** common css ends */

/** navigation bar css starts */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 135px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
}

.link-container a {
  margin-right: 48px;
  text-decoration: none;
}

.link-container a:last-child {
  margin-right: 0;
}

.nav-links-one {
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-weight: 700;
}

.nav-links-two {
  color: rgb(137, 135, 161);
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-logo {
  color: transparent;
  -webkit-text-stroke: 2px black;
  font-size: 22px;
}

.cart-title {
  color: rgb(0, 0, 0);
}

/** navigation bar css ends */

/** banner part css starts */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.banner-text {
  width: 50%;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 13px;

}

.banner-title span {
  color: rgb(233, 90, 8);
}

.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
  height: auto;
  display: block;
}

/** banner part css ends */


/** Plant section starts */

.plants-container {
  margin-top: 120px;
}

.plants-text {
  margin-bottom: 49px;
  padding-left: 126px;
  padding-right: 126px;
  text-align: center;
}

.plants-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}

.plants-title span {
  color: rgb(233, 90, 8);
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plants-card {
  max-width: 270px;
}

.plants-card img {
  width: 100%;
  height: auto;
  display: block;
}

.plants-card h3 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.plants-card h4 {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}


/** Plant section ends */

/** Plant lover section starts */

.plant-lover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 210px;
}

.flower-image-container {
  width: 50%;
  position: relative;
}

.flower-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.plant-second-img {
  position: absolute;
  width: 286px;
  height: auto;
  left: 344px;
  top: -128px;

}

.flower-text-container {
  width: 50%;
}

.flower-text-container h3 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  margin-bottom: 20px;
}

.flower-text-container ul li {
  margin-bottom: 20px;
  list-style-position: inside;
}

/** Plant lover section ends */


/** latest deal section starts */

.latest-deal-container {
  margin-top: 134px;
  margin-bottom: 120px;
}

.latest-deal-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

.deal-card-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 0 0 367px;
}

.deal-card {
  position: relative;
  height: 206px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/deal-bloom.png');
}

.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/deal-ana.png');
  height: 206px;
}

.deal-text {
  position: absolute;
  bottom: 72px;
  left: 73px;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.deal-text a {
  display: inline-block;
  margin-top: 19px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

.deal-card-large {
  position: relative;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
  height: 437px;
}

.deal-card-large img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background-repeat: no-repeat;
  object-fit: cover;
  display: block;
}

.deal-text-large {
  position: absolute;
  bottom: 157px;
  left: 50%;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  transform: translateX(-50%);
}

.deal-card-large a {
  display: inline-block;
  margin-top: 19px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

/** latest deal section ends */



/** responsive media query for mobile */

@media screen and (max-width: 576px) {

  /** navbar */

  .link-container>div:first-child {
    display: none;
  }

  /** banner */

  .banner-container {
    flex-direction: column-reverse;
    gap: 28px;
  }

  .banner-text {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .banner-title {
    font-size: 24px;
  }

  .banner-container p {
    font-size: 14px;
  }

  .banner-img {
    width: 100%;
  }

  /** Plant section starts */

  .plants-title {
    font-size: 24px;
  }

  .plants-container p {
    font-size: 14px;
  }

  .plants-text {
    padding-left: 28px;
    padding-right: 28px;
  }

  .plants-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .plants-card {
    max-width: 270px;
  }

  .button-primary {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
  }

  /** Plant lover section */

  .plant-lover-container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  .flower-image-container>div:last-child {
    display: none;
  }

  .flower-image-container {
    width: 100%;
  }

  .flower-text-container {
    width: 100%;
  }

  .flower-text-container h3 {
    font-size: 24px;
  }

  .lover-break {
    display: none;
  }

  .flower-text-container p {
    font-size: 14px;
  }

  /** latest deal section starts */

  .latest-deal-image-container {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .deal-card-container {
    width: 100%;
    flex: 1 1 auto;
  }

  .deal-card {
    width: 100%;
    height: 206px;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .deal-text {
    position: absolute;
    bottom: 77px;
    left: 120px;
    font-size: 30px;
    text-align: center;
  }

  .deal-card-container .deal-card:first-child .deal-text a {
    margin-right: 34px;
  }

  .latest-deal-container p {
    font-size: 14px;
    font-weight: 400
  }

  .deal-card-large {
    width: 100%;
    height: 435px;
    border-radius: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  .deal-text-large {
    position: absolute;
    bottom: 118px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }

}